/* Ztools stylesheet */

.phpinfodisplay {
    max-width: 700px;
}
.phpinfodisplay .center table {
    margin-left: 0;
}
.z-icon-es-folder {
    background: url("/images/icons/extrasmall/folder_yellow.png") no-repeat scroll 0 50% transparent;
    padding: 2px 0 2px 20px;
}
